<section>
	<h4>{{ site.videoBenfeitoriaTitle }}</h4>
	<div class="row">
		<blockquote class="embedly-card" data-card-key="9dbc84ae2c5e40fbb8f3017211904036" data-card-branding="0"><h4><a href="https://www.youtube.com/watch?v=cWM0g1LRDXM">PHPeste 2016 - Salvador/Bahia (Benfeitoria)</a></h4><p>PHPeste é uma conferência de PHP organizada pelas comunidades "cabra da peste" do nordeste brasileiro. Já passamos por João Pessoa (PB) e agora é a vez de Salvador (BA) sediar um dos maiores eventos de PHP do Brasil. Essa edição terá início em 08 de outubro, Dia do Nordestino, e encerrará no dia 09 de outubro, no Instituto Federal da Bahia (IFBA).</p></blockquote>
	</div>

	<a style="color: #000000; font-size: 16px" href="http://benfeitoria.com/phpeste2016">benfeitoria.com/phpeste2016</a>

	<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</section>